/* chuan bi chuyen */
.fade-enter {
  /* opacity: 0.01; */
  transform: translateX(-100%)
}

/* chuyen trang */
.fade-enter.fade-enter-active { 
  /* opacity: 1; */
  transform: translateX(0);
  transition: transform 0.3s ease-in;
  z-index: 10;
}

/* chuan bi bi chuyen */
.fade-exit {
  /* transform: translateX(0); */
  opacity: 1;
}

/* bi chuyen */
.fade-exit.fade-exit-active {
  /* transform: translateX(-100%); */
  /* opacity: 0.01; */
  /* transition: transform 5s ease-in; */
}

div.transition-group {
  position: relative;
}
section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
